.ok5{
    background-image: url("../../assets/project/kar11.jpg");
}
.ok3{
    background-image: url("../../assets/project/kar11.jpg");
}
.ok6{
    background-image: url("../../assets/project/kar18.jpg");
}